/* The styling has been built with a mobile first design*/

body {
  background-color: #050A30;
  margin: 0;
  font-family: 'Poppins', Tahoma, sans-serif;
  color: #D3EDEA;
  overflow-x: hidden;
}

 /* Here is the styling for the navbar */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #D3EDEA;
  font-family: 'Poppins', Tahoma, sans-serif;
}

a:link {
  text-decoration: none;
  color: #09333F;
}

a:visited {
  text-decoration: none;
  color: #09333F;
}

.logo {
  max-height: 200px;
  min-height: 150px;
}

.navbar a {
  padding: 0.4rem;
  font-size: 20px;
  font-weight: bold;
  display: inline-flex;
  position: relative;
  transition: opacity 0.3s;
}

/* Here is the code for the navbar opacity hover animation */
.navbar a:hover {
  opacity: 0.7;
}

.social-links {
  padding: 0.5rem;
}

.social-links img {
  height: 40px;
}

/* Here is the code for the social links opacity hover animation */
.social-links img:hover {
  opacity: 0.7;
}

.social-links img {
  transition: opacity 0.3s;
}

.navbar {
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  border-top: 2px solid #43291F;
  border-bottom: 2px solid #43291F;;
}

.active {
  opacity: 0.7;
}

/* Here is the styling for the footer */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0.5rem;
  align-content: flex-end;
  background-color: #D3EDEA;
}

.nav-footer-all {
  display: inline-flex;
  justify-content: flex-end;
  flex-direction: column;
  align-content: flex-end;
}

.nav-footer-all a {
  transition: opacity 0.2s;
}

.nav-footer-all a:hover {
  opacity: 0.6;
}

.socials-footer {
  display: flex;
  justify-content: flex-end;
}

.socials-footer img {
  width: 40px;
}

.nav-footer {
  display: inline-flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.nav-footer a {
  padding: 0px 3px;
}


 /* Here is the styling for the index.html */
.intro {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  color: #D3EDEA;
}

.intro-head {
  text-align: center;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
  font-family: 'Poppins', Tahoma, sans-serif;
  font-size: 38px;
  margin-bottom: 5px;
}

.intro-subhead {
  margin-top: 5px;
  color: #95A49F;
}

.intro-container {
  text-align: center;
}

.intro-icon-container {
  display: flex;
  flex-direction: row;
  min-width: 90%;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  background-color: #D3EDEA;
  padding: 10px 5px;
}

.tech-icon {
  max-width: 20%;
}

.tech-icon {
  max-width: 50px;
}

.skills {
  font-size: 24px;
  font-weight: 700;
  margin: 5px 2px 5px 2px;
  font-family: 'Esteban', Garamond, serif;
}

#professional {
  font-family: 'Bodoni Moda', Garamond, serif;
  font-size: 32px;
}

/* Here is the code for the text colour animation */
@keyframes creative {
  0%    {color: #0c0a3eff;}
  20%   {color: #da2c38ff;}
  40%   {color: rgb(199, 145, 9);}
  60%   {color: darkgreen;}
  80%   {color: brown;}
  100%  {color: #0c0a3eff;}
}

#creative {
  font-family: 'Cookie', cursive;
  font-size: 48px;
  animation-name: creative;
  animation-duration: 20s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}

#stylish {
  font-family: 'Tangerine', cursive;
  font-size: 48px;
  font-weight: 700;
}

#responsive {
  font-family: 'Poppins', Tahoma, sans-serif;
  font-size: 32px;
}

#human {
  font-size: 30px;
  margin-bottom: 1.2rem;
}

.simon-headshot {
  max-width: 100%;
}

#headshot {
  align-items: center;
}

  /* Here is the styling for about.html */
#about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding-left: 8px;
  padding-right: 8px;
}

.simon-about-image img {
  display: flex;
  max-width: 100%;
  padding-bottom: 1rem;
}

.simon-about-image-header {
  text-align: center;
  font-family: 'Poppins', Tahoma, sans-serif;
}

.simon-about-header {
  font-family: 'Poppins', Tahoma, sans-serif;
  font-size: 28px;
}

.simon-about-article {
  font-size: 18px;
}

.simon-about {
  padding: 0 4px;
}

/* Here is the styling for the contact.html */
.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.contact-image {
  display: none;
  max-width: 100%;
  opacity: 0.8;
}

.contact-image-small {
  display: flex;
  max-width: 100%;
  opacity: 0.8;
}

.contact-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  flex-wrap: wrap;
}

.contact-details-header {
  font-family: 'Poppins', Tahoma, sans-serif;
  font-size: 28px;
  padding-left: 8px;
}

.contact-details a {
  color: #D3EDEA
}

.contact-list {
  font-size: 20px;
}

.email-link {
  font-size: 18px;
}

.email-link:hover {
  opacity: 0.7;
}

.phone-link {
  font-size: 18px;
}

.phone-link:hover {
  opacity: 0.7;
}

.email-head {
  padding-bottom: 20px;
}

.phone-head {
  padding-bottom: 20px;
}

.linkedin-head {
  padding-bottom: 20px;
}

.linkedin-head:hover {
  opacity: 0.7;
}

/* Here is the styling for resume.html*/
.resume {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.dev-portfolio {
  display: flex;
  flex-direction: column;
}

.website-git {
  display: flex;
  max-width: 90%;
  max-height: 50%;
}

.resume-image {
  display: none;
  max-width: 100%;
  opacity: 0.8;
}

.resume-image-small {
  display: flex;
  max-width: 100%;
  opacity: 0.7;
}

.resume-pdf {
  text-align: center;
  font-size: 1.5rem;
}

.resume-link {
  display: inline-block;
  position: relative;
}

.resume-link:hover {
  opacity: 0.6;
}

.resume-link {
  transition: opacity 0.3s;
}

.resume-pdf a {
  color: #D3EDEA;
}

.dev-portfolio a {
  color: #D3EDEA;
}

.resume-subhead {
  font-family: 'Poppins', Tahoma, sans-serif;
  font-size: 30px;
}

.portfolio-head {
  font-family: 'Poppins', Tahoma, sans-serif;
  font-size: 26px;
}

.resume-content {
  margin: 8px;
}

.resume-article {
  font-size: 16px;
  padding: 0 3px;
}

.work-list {
  font-weight: 700;
}

#retail-skills {
  font-weight: normal;
}

#govt-skills {
  font-weight: normal;
}

#training-skills {
  font-weight: normal;
}

#entertain-skills {
  font-weight: normal;
}

/* This is the styling for blog.html */
.blog-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;

}

.blog-image {
  display: flex;
  max-width: 100%;
  padding-bottom: 3px;
  transition: opacity 0.6s;
}

/* This is the code for the blog link hover opactiy */
.blog-image:hover {
  opacity: 0.6;
}

.blog-container {
  font-family: 'Poppins', Tahoma, sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.blog-header {
  font-size: 34px;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.blog-subheader {
  font-size: 22px;
  text-align: center;
  padding-left: 4px;
  padding-right: 4px;
}

.blog-title-1 {
  text-align: center;
  font-size: 20px;
}


/* This is the code for the box shadow hover animations */
.blog1-link {
  transition: box-shadow 0.6s;
  padding-bottom: 10px;
}

.blog1-link:hover {
  box-shadow: 0 0 4px 4px #09333F;
}

.blog2-link {
  transition: box-shadow 0.6s;
  padding-bottom: 10px;
}

.blog2-link:hover {
  box-shadow: 0 0 4px 4px #09333F;
}

.blog3-link {
  transition: box-shadow 0.6s;
  padding-bottom: 10px;
}

.blog3-link:hover {
  box-shadow: 0 0 4px 4px #09333F;
}

.blog4-link {
  transition: box-shadow 0.6s;
  padding-bottom: 10px;
}

.blog4-link:hover {
  box-shadow: 0 0 4px 4px #09333F;
}

.blog5-link {
  transition: box-shadow 0.6s;
  padding-bottom: 10px;
}

.blog5-link:hover {
  box-shadow: 0 0 4px 4px #09333F;
}

.blog-links h4 {
  color: #D3EDEA;
}

.blog-links h3 {
  color: #D3EDEA;
}

/* This is the generic styling for the child blog pages */
.blog {
  margin: 0.2rem;
  padding: 0.2rem;
  display: flex;
  justify-content: center;
}

.blog-content {
  display: flex;
  flex-direction: column;
}

.blog-title {
  text-align: center;
  font-family: 'Poppins', Tahoma, sans-serif;
  font-size: 24px;
}

.blog-date {
  text-align: center;
  opacity: 0.8;
}

.back {
  margin: 1.5rem;
  align-self: center;
  font-size: 18px;
}

#back-to-blog a:hover {
  opacity: 0.6;
}

/* This is the before and after bars wrapping the back to blog main link */
#back-to-blog::before {
  content: "|";
  color: #D3EDEA;
  font-weight: 700;
  margin-right: 5px;
}

#back-to-blog::after {
  content: "|";
  color: #D3EDEA;
  font-weight: 700;
  margin-left: 5px;
}

/* This is the stying for blog1.html */
.blog-1-article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.blog-1-para-1 {
  margin-right: 0.8rem;
  margin-left: 0.8rem;
  font-size: 18px;
}

.blog-1-para-2 {
  margin-right: 0.8rem;
  margin-left: 0.8rem;
  font-size: 18px;
}

/* This is the styling for the playlists */
.playlist-1 {
  align-self: center;
  margin: 18px 0;
}

.playlist-1 iframe{
  border: 0
}

.playlist-2 {
  align-self: center;
  margin: 18px 0;
}

.playlist-2 iframe{
  border: 0;
}

/* This is the stying for blog5.html */
.blog-5-img {
  max-width: 60%;
  min-width: 300px;
  opacity: 0.8;
}

.blog-5-article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.blog-5-para-1 {
  margin-right: 0.8rem;
  margin-left: 0.8rem;
}

.blog-5-para-2 {
  margin-right: 0.8rem;
  margin-left: 0.8rem;
}

.blog-5-aside {
  margin-right: 0.8rem;
  margin-left: 0.8rem;
  margin-top: 1rem;
}

.blog-5-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* This is the styling for blog4.html and blog3.html */
.blog-4-img {
  max-width: 60%;
  min-width: 300px;
  opacity: 0.8;
}

.blog-4-article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.blog-4-para-1 {
  margin-right: 0.8rem;
  margin-left: 0.8rem;
}

.blog-4-para-2 {
  margin-right: 0.8rem;
  margin-left: 0.8rem;
}

.blog-3-conclusion {
  font-weight: bold;
}

#back-to-blog a {
  color: #D3EDEA;
}

/* This is the media breakpoint for desktop view */
@media screen and (min-width: 769px) {
 /* Here is the styling for the navbar */
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    height: 110px;
    justify-content: flex-start;
    padding-left: 0.5rem;
  }

  .navbar {
    display: inline-block;
    justify-content: space-between;
    border-top: hidden;
    border-bottom: hidden;
    padding-top: 0;
  }

  .navbar a {
    align-content: space-between;
    padding: 0.6rem 0.6rem 0.2rem 0.6rem;
    text-align: center;
    font-size: 26px;
  }

/* Here is the code for the navbar underline hover animation */
  .navbar a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3.5px;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    background-color: #009D9A;
    transform-origin: bottom center;
    transition: transform 0.2s ease-out;
  }

  .navbar a:hover::after {
    transform: scaleX(1);
  }

  .navbar a:hover {
    opacity: 1;
  }

  .active {
    opacity: 0.7;
  }

  .social-links {
    display: inline-flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }

  .social-links img {
    height: 50px;
  }

/* Here is the styling for the index.html */
  .intro {
    flex-direction: row;
  }

  .intro-container {
    display: inline-flex;
    flex-direction: column;
    min-width: 50%;
    align-items: center;
    justify-content: flex-start;
    align-content: flex-start;
    margin-left: 5px;
  }

  .intro-head {
    display: flex;
    justify-content: flex-start;
    font-size: 50px;
  }

  .simon-headshot {
    max-width: 100%;
    height: auto;
  }

  #headshot {
    display: flex;
    margin: 2px 0 2px 2px;
    min-width: 50%;
  }

  #headshot figure {
    align-items: center;
    /* margin-right: 0; */
  }

  #professional {
    font-size: 40px;
  }

  #creative {
    font-size: 58px;
  }

  #stylish {
    font-size: 58px;
  }

  #responsive {
    font-size: 40px;
  }

  #human {
    font-size: 40px;
    margin-bottom: 3rem;
  }

  /* Here is the styling for the about.html */
  #about {
    flex-direction: row;
  }

  .simon-about-image img {
    width: 650px;
  }

  .simon-about-image {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

  .simon-about-image {
    display: inline-flex;
    flex-direction: column-reverse;
    margin-top: 19px;
    margin-left: 11px;
  }

  .simon-about {
    display: flex;
    flex-direction: column;
    width: 65%;
    padding-left: 16px;
  }

  .simon-about-header {
    margin-top: 1rem;
    margin-bottom: 0.25rem;
    font-size: 36px;
  }

  .simon-about-article {
    font-size: 20px;
  }

  /* Here is the styling for the contact.html */
  .contact {
  flex-direction: row;
    justify-content: space-between;
    padding-right: 8px;
  }

  #contact-container {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

  .contact-image {
    width: 550px;
    display: flex;
  }

  .contact-image-small {
    display: none;
    max-width: 100%;
    opacity: 0.8;
  }

  .contact-details {
    width: 65%;
    padding-left: 16px;
  }

  .contact-details-header {
    font-family: 'Poppins', Tahoma, sans-serif;
    font-size: 38px;
  }

  .contact-list {
    font-size: 28px;
  }

  .email-link {
    font-size: 24px;
  }

  .phone-link {
    font-size: 24px;
  }

  .email-head {
    padding-bottom: 24px;
  }
  
  .phone-head {
    padding-bottom: 24px;
  }
  
  .linkedin-head {
    padding-bottom: 24px;
  }

    /* Here is the styling for the resume.html */
  .resume {
    flex-direction: row;
    justify-content: space-between;
  }

  /* This makes the image stick to the top of the page when scrolling */
  #resume-container {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

  .resume-image {
    width: 550px;
    display: flex;
  }

  .resume-image-small {
    display: none;
  }

  .resume-content {
    display: flex;
    flex-direction: column;
    width: 65%;
    padding-left: 16px;
  }

  .resume-subhead {
    font-family: 'Poppins', Tahoma, sans-serif;
    font-size: 38px;
  }

  .portfolio-head {
    font-family: 'Poppins', Tahoma, sans-serif;
    font-size: 32px;
  }

  .resume-article {
    font-size: 20px;
  }

  .resume-pdf {
    text-align: center;
    font-size: 2rem;
  }

  /* This is the styling for blog.html */
  .blog {
    margin: 0.8rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .blog-main {
    justify-content: space-between;
    margin: 12px;
  }

  .blog-container {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2rem;
  }

  .blog-header {
    font-size: 44px;
    margin-bottom: 1rem;
  }

  .blog-subheader {
    font-size: 26px;
    text-align: left;
  }

  .blog-title-1 {
    font-size: 26px;
  }

  .blog-image {
    padding-bottom: 5px;
  }

  .blog-top-links {
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row;
    justify-content: center;
  }

  .blog-mid-links {
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row;
    justify-content: center;
  }

  .blog-bottom-links {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    justify-content: center;
  }

  .blog1-link {
    max-width: 40%;
  }

  .blog2-link {
    max-width: 40%;
  }

  .blog3-link {
    max-width: 40%;
  }

  .blog4-link {
    max-width: 40%;
  }

  .blog5-link {
    max-width: 40%;
  }

  /* This is the generic styling for the child blog pages */
  .blog-title {
    font-size: 38px;
  }

  .blog-date {
    font-size: 22px;
  }

  .back {
    font-size: 26px;
  }

  /* This is the stying for blog1.html */

  .blog-1-para-1 {
    padding-right: 4rem;
    padding-left: 4rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    font-size: 24px;
  }

  .blog-1-para-2 {
    padding-right: 4rem;
    padding-left: 4rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    font-size: 24px;
  }

/* This is the stying for blog5.html */
  .blog-5-section {
    flex-direction: row;
  }

  .blog-5-section img {
    max-width: 100%;
    min-width: 50%;
  }

  .blog-5-aside {
    margin: 0 60px;
    font-size: 20px;
  }

  .blog-5-article {
    font-size: 20px;
  }

  .blog-5-para-1 {
    font-size: 24px;
  }

  .blog-5-para-2 {
    font-size: 24px;
  }

  /* This is the stying for blog4.html and blog3.html */
  .blog-4-article {
    font-size: 20px;
  }

  .blog-4-para-1 {
    padding-right: 4rem;
    padding-left: 4rem;
    margin-right: 4rem;
    margin-left: 4rem;
  }

  .blog-4-img {
    max-width: 50%;
    padding: 0.8rem 2rem 0.8rem 2rem;
  }

  .blog-4-para-2 {
    padding-right: 4rem;
    padding-left: 4rem;
    margin-right: 4rem;
    margin-left: 4rem;
    align-self: flex-start;
  }

  footer {
  padding: 20px;
  }
}

/* This is the media breakpoint for Tablet view */
@media screen and (min-width: 481px) and (max-width: 768px) {
  /* This is the styling for the navbar */

  .logo {
    height: 120px;
  }

  .navbar a {
    font-size: 24px;
  }

  .navbar {
    padding-top: 8px;
  }

  /* here is the styling for the index */

  .intro-head {
    font-size: 46px;
    padding: 26.8px;
  }

  #professional {
    font-size: 38px;
  }

  #creative {
    font-size: 54px;
  }

  #stylish {
    font-size: 54px;
  }

  #responsive {
    font-size: 38px;
  }

  #human {
    font-size: 36px;
  }

  /* Here is the styling for about.html */
  #about {
    padding-left: 10px;
    padding-right: 10px;
  }

  .simon-about-image img {
    max-width: 90%;
    align-items: center;
  }

  .simon-about-image {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .simon-about-header {
    font-size: 32px;
  }

  .simon-about-article {
    font-size: 20px;
  }

  /* Here is the styling for contact.html */
  .contact-image {
    display: none;
    width: 100%;
    align-items: center;
  }

  .contact-details {
    margin-right: 0;
  }

  .contact-details-header {
    font-family: 'Poppins', Tahoma, sans-serif;
    font-size: 30px;
  }

  .contact-list {
    font-size: 22px;
  }

  .email-link {
    font-size: 20px;
  }

  .phone-link {
    font-size: 20px;
  }

  /* Here is the styling for resume.html*/
  .resume {
    justify-content: space-between;
  }

  .resume-pdf {
    font-size: 1.7rem;
  }

  .resume-content {
    padding: 0 8px;
  }

  .resume-subhead {
    font-family: 'Poppins', Tahoma, sans-serif;
    font-size: 34px;
  }

  .portfolio-head {
    font-family: 'Poppins', Tahoma, sans-serif;
    font-size: 30px;
  }

  .resume-article {
    font-size: 18px;
  }

  /* This is the styling for blog.html */
  .blog-main {
    justify-content: space-between;
    margin: 12px;
  }

  .blog-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0.8rem;
  }

  .blog-header {
    font-size: 40px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .blog-subheader {
    font-size: 26px;
    text-align: left;
  }

  .blog-title-1 {
    text-align: center;
    font-size: 22px;
  }

  .blog-image {
    padding-bottom: 4px;
  }

  .blog-top-links {
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row;
    justify-content: center;
  }

  .blog-mid-links {
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row;
    justify-content: center;
  }

  .blog-bottom-links {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    justify-content: center;
  }

  .blog1-link {
    max-width: 60%;
    min-width: 40%;
  }

  .blog2-link {
    max-width: 60%;
    min-width: 40%;
  }

  .blog3-link {
    max-width: 60%;
    min-width: 40%;
  }

  .blog4-link {
    max-width: 60%;
    min-width: 40%;
  }

  .blog5-link {
    max-width: 40%;
    min-width: 40%;
  }

  /* This is the generic styling for the child blog pages */
  .blog-title {
    font-size: 32px;
  }

  .blog-date {
    font-size: 18px;
  }

  .back {
    font-size: 20px;
  }

  /* This is the stying for blog1.html */
  .blog-1-para-1 {
    padding-right: 3rem;
    padding-left: 3rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    font-size: 20px;
  }

  .blog-1-para-2 {
    padding-right: 3rem;
    padding-left: 3rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    font-size: 20px;
  }

  .blog-1-article {
    font-size: 20px;
  }

    /* This is the stying for blog5.html */
    .blog-5-img {
      max-width: 80%;
    }

    .blog-5-para-1 {
      padding-right: 1.5rem;
      padding-left: 1.5rem;
      margin-right: 1.5rem;
      margin-left: 1.5rem;
      font-size: 20px;
    }

    .blog-5-para-2 {
      padding-right: 1.5rem;
      padding-left: 1.5rem;
      margin-right: 1.5rem;
      margin-left: 1.5rem;
      font-size: 20px;
    }

    .blog-5-aside {
      padding-right: 1.5rem;
      padding-left: 1.5rem;
      margin-right: 1.5rem;
      margin-left: 1.5rem;
      font-size: 20px;
    }

      /* This is the stying for blog4.html and blog3.html */
  .blog-4-article {
    font-size: 18px;
  }

  .blog-4-para-1 {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }

  .blog-4-para-2 {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }

  .blog-4-img {
    max-width: 300px;
  }
}

